<% layout('./layouts/indexboilerplate') -%>
<div class="post">
    <a href="/posts/" class="btn btn-primary"> Back to Post List</a>
    <h1><%= post.title %></h1>
    
    <div class="d-flex">
        <p class="mb-0"><strong>Tác giả:</strong> <%= post.name %></p>
        <p class="ms-2"><strong>Lượt xem:</strong> <%= post.views %></p>
    </div>
    
    <p class="mb-0"><strong>Nội dung:</strong></p>
    <p class="m-2"><%- post.content %></p>

    <div class="d-flex set mt-3">
        <a class="card-link btn btn-info me-2" href="/posts/<%= post._id %>/edit">Edit</a> 
        <form action="/posts/<%= post._id %>?_method=DELETE" method="POST">
            <button type="submit" class="btn btn-danger">Delete</button>
        </form>
    </div>
</div>
