<% layout('layouts/indexboilerplate') -%>

<div class="container mt-5">
    <h2>Edit Comment</h2>
    <form action="/questions/<%= comment.commentedOnQuestion %>/<%= comment._id %>?_method=PUT" method="POST" novalidate class="validated-form">
        <div class="form-group">
            <label for="body">Comment:</label>
            <textarea id="body" name="answer[body]" class="form-control" rows="5"><%= comment.body %></textarea>
        </div>
        <input type="hidden" name="answer[replyTo]" id="" value="<%= comment.replyTo  %>" readonly>
        <button type="submit" class="btn btn-primary">Cập nhật bình luận</button>
    </form>
    <a href="/questions/<%= comment.commentedOnQuestion %>" class="btn btn-secondary mt-3">Hủy</a>
</div>
